<main>
  <section class="pageHero">
    <div class="container">
      {{> heroBumperGraphic}}
      <div class="textWrap">
        <div class="overline">{{apply.pageTitle}}</div>
        <h1>{{{apply.heroHeading}}}</h1>
        <p>{{{apply.heroText}}}</p>
        <a class="ctaButton ctaButton--primary" href="{{apply.applyCTA.url}}">
          {{apply.applyCTA.text}}
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="centered">
        {{apply.resources.heading}}
      </h2>
      <div class="applyGrid">
        <div class="card applyGrid__tallCard">
          <h3>
            {{apply.resources.applicationTips.heading}}
          </h3>
          {{{apply.resources.applicationTips.text}}}
        </div>
        <div class="card">
          <h3>
            {{apply.resources.inspired.heading}}
          </h3>
          {{{apply.resources.inspired.text}}}
        </div>
        <div class="card">
          <h3>
            {{apply.resources.contact.heading}}
          </h3>
          {{{apply.resources.contact.text}}}
        </div>
      </div>
    </div>
  </section>
</main>