<section class="applyBanner">
    <div class="container">
        <picture class="bumperGraphic bumperGraphic--top bumperGraphic--left">
            <source srcset="{{@root.root}}assets/img/graphic-fill-left.svg" type="image/svg+xml">
            <img src="{{@root.root}}assets/img/graphic-fill-left.png" alt="icon" />
          </picture>
          <picture class="bumperGraphic bumperGraphic--top bumperGraphic--right">
            <source srcset="{{@root.root}}assets/img/graphic-fill-right.svg" type="image/svg+xml">
            <img src="{{@root.root}}assets/img/graphic-fill-right.png" alt="icon" />
          </picture>
        <div class="textWrap">
            <h2>{{{ applyBanner.headline }}}</h2>
            <p>{{{ applyBanner.text }}}</p>
            <a href="{{@root.root}}{{urlprefix}}apply" class="ctaButton ctaButton--primary">{{{ applyBanner.ctaText}}}</a>
        </div>
    </div>
</section>