<picture class="bumperGraphic bumperGraphic--bottom bumperGraphic--left">
    <source srcset="{{@root.root}}assets/img/graphic-stroke-bottom-left.svg"
        type="image/svg+xml">
    <img src="{{@root.root}}assets/img/graphic-stroke-bottom-left.png" alt="icon" />
</picture>
<picture class="bumperGraphic bumperGraphic--bottom bumperGraphic--right">
    <source srcset="{{@root.root}}assets/img/graphic-stroke-bottom-right.svg"
        type="image/svg+xml">
    <img src="{{@root.root}}assets/img/graphic-stroke-bottom-right.png" alt="icon" />
</picture>