<main class="faq">
    <section class="pageHero">
      <div class="container">
        {{> heroBumperGraphic}}
        <div class="textWrap">
          <div class="overline">{{faq.pageTitle}}</div>
          <h1>{{{faq.heroHeading}}}</h1>
          <p>{{{faq.heroText}}}</p>
        </div>
      </div>
    </section>
    <section>  
      <div class="container container--grid">
        <div class="grid--span8">
          <h2>
            {{faq.applications.heading}}
          </h2>
          {{#each faq.applications.questions}}
          <details>
            <summary>
              {{this.summary}}
            </summary>
            {{{this.details}}}
          </details>
          {{/each}}
          <h2>
            {{faq.project.heading}}
          </h2>
          {{#each faq.project.questions}}
          <details>
            <summary>
              {{this.summary}}
            </summary>
            {{{this.details}}}
          </details>
          {{/each}}
          <h2>
            {{faq.team.heading}}
          </h2>
          {{#each faq.team.questions}}
          <details>
            <summary>
              {{this.summary}}
            </summary>
            {{{this.details}}}
          </details>
          {{/each}}
          <h2>
            {{faq.context.heading}}
          </h2>
          {{#each faq.context.questions}}
          <details>
            <summary>
              {{this.summary}}
            </summary>
            {{{this.details}}}
          </details>
          {{/each}}
          <h2>
            {{faq.funding.heading}}
          </h2>
          {{#each faq.funding.questions}}
          <details>
            <summary>
              {{this.summary}}
            </summary>
            {{{this.details}}}
          </details>
          {{/each}}
          <h2>
            {{faq.program.heading}}
          </h2>
          {{#each faq.program.questions}}
          <details>
            <summary>
              {{this.summary}}
            </summary>
            {{{this.details}}}
          </details>
          {{/each}}
        </div>  
      </div>
    </section>

</main>