<footer>
  <div class="container container--flex">
    <div class="footer__topRow">
      <img src="{{@root.root}}assets/img/ocp-logo-white.svg" />
      <div class="grid--span6 footer__columnWrap">
        {{#each footer.nav}}
        <div class="footer__column">
          <h4>{{this.title}}</h4>
            {{#each this.links}}
            {{#if this.isExternal}}
              <a href="{{{this.link}}}">{{this.title}}</a>
            {{else}}
              <a href="{{@root.root}}{{../../urlprefix}}{{this.link}}">{{this.title}}</a>
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="footer__bottomRow">
      <div class="grid--span6 footer__smallText">
        {{{footer.address}}}
      </div>
      <div class="grid--span6 footer__smallText medium-rightAlign">
        {{{footer.license}}}
      </div>
    </div>
  </div>
</footer>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GFLEM9K3JF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GFLEM9K3JF');
</script>
