<header id="header">
  <div class="container container--flex">
    <a class="siteTitle" href="{{@root.root}}{{urlprefix}}">Lift</a>
    <div class="menuToggle" role="navigation">
      <input type="checkbox" />
      <div class="mobileIcon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menuWrap">
        <nav>
          <a href="{{@root.root}}{{urlprefix}}program">{{nav.program}}</a>
          <a
            href="{{@root.root}}{{urlprefix}}eligibility">{{nav.eligibility}}</a>
          <a href="{{@root.root}}{{urlprefix}}faq">{{nav.faq}}</a>
          <a href="{{@root.root}}{{urlprefix}}apply"
            class="ctaButton ctaButton--secondary">{{nav.apply}}</a>
        </nav>
      </div>
      {{> langSelector}}
    </div>
  </div>
</header>