<main>
  <section class="homepageHero">
    <div class="container container--grid">
      <div class="homepageHero__heroText">
        <h1 class="display">
          {{{home.hero.headline.text}}}
          <span class="wordWrap">
            {{#each home.hero.headline.rotatingWord}}
            <span>{{this}}</span>
            {{/each}}
          </span>
        </h1>
        <p>
          {{{home.hero.text}}}
        </p>
      </div>
      <div class="animatedGraphic">
        <img src="{{@root.root}}assets/img/animation.svg" alt="animation" />
      </div>
      <div class="grid--span10 marginTop centered">
        <h2>{{{home.hero.heading2}}}</h2>
        <div class="container--grid">
          {{#each home.hero.themes}}
          <div class="homepageHero__theme">
            <picture>
              <source srcset="{{@root.root}}assets/img/{{this.img}}.svg"
                type="image/svg+xml">
              <img src="{{@root.root}}assets/img/{{this.img}}.png" alt="icon" />
            </picture>
            <p>{{this.text}}</p>
          </div>
          {{/each}}
        </div>
        <a href="{{@root.root}}{{urlprefix}}apply"
          class="ctaButton ctaButton--primary">{{{ applyBanner.ctaText}}}</a>
      </div>
    </div>
  </section>
  <section class="tealBG aboutLift">
    <div class="container container--grid">
      <div class="grid--span10 aboutLift__intro">
        <h2 class="centered color--white">{{home.about.heading}}</h2>
        {{{home.about.text}}}
      </div>
      <div class="aboutLift__graphic grid--spanAll">
        {{#each home.about.graphic}}
        <div id="{{@key}}" class="aboutLift__graphic__theme">
          <h4>{{this.heading}}</h4>
          <p>{{this.text}}</p>
        </div>
        {{/each}}
        <div id="graph1"></div>
        <div id="graph2"></div>
        <div id="graph3"></div>
      </div>
    </div>
  </section>
  <section class="greyBG">
    <div class="container container--grid">
      <div class="grid--span10">
        <h2 class="centered color--white">{{home.whyApply.heading}}</h2>
        <div class="whyApply container--grid">
          {{#each home.whyApply.text}}
          <div>
            <h3>{{this.heading}}</h3>
            <p>{{{this.text}}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
  <section class="darkBG testimonials">
    <div class="container">
      {{> testimonials}}
    </div>
  </section>
</main>