<main>
  <div class="container">
    <section>
      <div class="section--textOnly">
        <div class="heroText">
          <h1>
            {{program.heading}}
          </h1>
          {{{program.text1}}}
        </div>
        <div class="subSection">
          <div class="subSection__column">
            <h3>
              {{{program.leftCol.heading}}}<br />
              <span class="subheading">
                {{{program.leftCol.subhead}}}
              </span>
            </h3>
            <p>
              {{program.leftCol.text}}
            </p>
          </div>
          <div class="subSection__column">
            <h3>
              {{{program.rightCol.heading}}}<br />
              <span class="subheading">
                {{{program.rightCol.subhead}}}
              </span>
            </h3>
            <p>
              {{program.rightCol.text}}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section--angled greyBG">
      <h1>{{program.expect.heading}}</h1>
      <div class="section--textOnly">
        {{{program.expect.text}}}
      </div>
    </section>
    <section id="your-commitment" class="section--angled section--noBorder section--flatBottom">
      <h1>
        {{program.commitment.heading}}
      </h1>
      <p class="centered">
        {{{program.commitment.text}}}
      </p>
      <div class="container subSection">
        <div class="subSection__column">
          <h2>
            {{program.commitment.leftCol.heading}}
          </h2>
          {{{program.commitment.leftCol.text}}}
        </div>
        <div class="subSection__column">
          <h2>
            {{program.commitment.rightCol.heading}}
          </h2>
          {{{program.commitment.rightCol.text}}}
        </div>
      </div>
    </section>
  </div>
</main>