<main>
  <section class="pageHero">
    <div class="container">
      {{> heroBumperGraphic}}
      <div class="textWrap">
        <div class="overline">{{program.pageTitle}}</div>
        <h1>{{{program.heroHeading}}} </h1>
        <p>{{{program.heroText}}}</p>
      </div>
    </div>
  </section>
  <section>
    <div class="container container--grid container--centered">
      <div class="grid--span8">
        {{{program.intro.text1}}}
      </div>
      <ul class="grid--span10 programCards">
        {{#each program.intro.cards}}
        <li class="card">
          {{#if this.img}}
          <picture class="">
            <img 
              srcset="{{@root.root}}assets/img/{{this.img}}@2x.png 2x"
              src="{{@root.root}}assets/img/{{this.img}}.png" alt="icon" 
            />
          </picture>
          {{/if}}
          {{{this.text}}}
        </li>
        {{/each}}
      </ul>
      <div class="grid--span8">
        {{{program.intro.text2}}}
      </div>
    </div>
  </section>
  <section class="tealBG">
    <div class="container">
      <h2 class="color--white centered">{{program.expect.heading}}</h2>
      <div class="timeline">
        {{#each program.expect.timeline}}
        <div class="timeline__phase">
          <h4>{{this.title}}</h4>
          {{#each this.activities}}
          <div class="timeline__activityRow">
            <div class="timeline__date">
              {{this.date}}
            </div>
            <div class="timeline__activity">
              {{this.title}}
            </div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
      <p class="centered">{{{program.expect.disclaimer}}}</p>
    </div>
  </section>
  <section class="greyBG">
    <div class="container">
      <h2 class="centered">
        {{program.commitment.heading}}
      </h2>
      <p class="centered">
        {{{program.commitment.subheading}}}
      </p>
      <div class="subSection marginTop">
        <div class="subSection__column">
          <div>
            <h3>
              {{program.commitment.leftCol.before.heading}}
            </h3>
            {{{program.commitment.leftCol.before.text}}}
          </div>
          <div>
            <h3>
              {{program.commitment.leftCol.application.heading}}
            </h3>
            {{{program.commitment.leftCol.application.text}}}
          </div>
        </div>
        <div class="subSection__column">
          <h3>
            {{program.commitment.rightCol.heading}}
          </h3>
          {{{program.commitment.rightCol.text}}}
        </div>
      </div>
    </div>
  </section>
</main>